@model UserRoles.Models.Images

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Images</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberFlat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberFlat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlatDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlatDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlatPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlatPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
