@model IEnumerable<UserRoles.Models.Images>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberFlat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlatDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlatPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberFlat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlatDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlatPrice)
            </td>
            <td>
                @if (item.image != null)
                {
                    var base64 = Convert.ToBase64String(item.image);
                    var ImgSource = string.Format("data:image/gif;base64,{0}", base64);
                    <img src="@ImgSource"width="300" height="250" />

                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Image_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a href="@Url.Action("Approved", "Images",new { id = item.BuildDataID })" onclick="return confirm('Are you sure you want approve Building ?, click Ok to Confirm, Or Cancel');" rel="tooltip" title="Cancel" class="btn btn-danger btn-simple btn-xs"><i class="fa fa-check-square-o"></i></a>
            </td>
            
            <td>

                @Html.ActionLink("View Approved Buildings", "Index", "AdvertBuildings") |
               
            </td>
        </tr>
    }


</table>
