@model IEnumerable<UserRoles.Models.BuildingData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberFlat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlatDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlatPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberFlat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlatDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlatPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BuildDataID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BuildDataID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BuildDataID })
        </td>
    </tr>
}

</table>
