@model IEnumerable<UserRoles.Models.Rent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdvertBuildings.BuildingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Check_In)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Check_Out)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumMonths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instalments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlatDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlatType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdvertBuildings.BuildingName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Check_In)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Check_Out)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumMonths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instalments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlatDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlatType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RentalId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RentalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RentalId })
        </td>
    </tr>
}

</table>
